    .container {
        position:absolute;
        top: 10%;
        left: 20%;
        z-index: 1;
        

    }

    body{
        align-items: center;
        background-color: rgb(54, 151, 107);
        display: flex;
        justify-content: center;
        height: 100vh;

    }

    .judul {
        color:#c4c3c4;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
    }


    .gambar {
        background-color:rgb(4, 39, 37);
        color:#c4c3c4;
    }


    .lukis {
        
        width: 900px;
        box-sizing: border-box;
        border-radius: 4px;
        letter-spacing: 0.5px;
        outline: none;
        background-color:rgb(4, 39, 37);
        color:#c4c3c4;


    }

    .feb {
        background-color:rgb(4, 39, 37);
        color:#c4c3c4;

    }

    .tari {
        background-color:rgb(4, 39, 37);
        color:#c4c3c4;
    }

    .or {
        background-color:rgb(4, 39, 37);
        color:#c4c3c4;
    }

    legend {

        background-color:#c4c3c4;
        border-radius: 7px;
        border: 0;
        color:black;
        font-size: 17px;
        font-family:cursive;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.7;
        overflow-x: hidden;
    }

    input {
        background-color:khaki;
        border-radius: 7px;
        border: 0;
        color:black;
        font-size: 17px;
    }

    textarea {
        background-color:khaki;
        border-radius: 7px;
        border: 0;
        color:black;
        font-size: 17px;
        
    }

    select {
        background-color:khaki;
        border-radius: 7px;
        border: 0;
        color:black;
        font-size: 17px;

    }

    button {
        background-color:peru;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color:black;
        cursor: pointer;
        font-size: 15px;
        height: 20px;
        margin-top: 15px;
         outline: 0;
        text-align: center;
        width: 50%;
    }
